/* 在 :root 中声明亮暗主题的颜色变量 */
:root {
  /* 亮主题 */
  --primary-text-color: #000000;
  --primary-bg-color: #ffffff;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #ffffff;
    --primary-bg-color: #333333;

    --navBar-text-color: #ffffff;
    --navBar-bg-color: #8f8f8f;
    --navBar-shadow1-color: #2424248a;
    --navBar-shadow2-color: #8a8a8a85;
    --navBar-hover-color: #e0e0e0;
  }
}
