.navbarContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.visible {
  display: flex;
}

.disVisible {
  display: none;
}

.navbarFixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #000;
}
